/* FONTS */
@font-face{
	font-family:title;
	src:url(fuentes/title.otf);
}
@font-face{
	font-family:zeuty;
	src:url(fuentes/zeuty.ttf);
	font-weight:normal;
}
/* ANIMATIONS */
@keyframes titleAnim {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}
/* HEADER */
p,a{ font-size: 17pt; }
.header{ background-color:#1C1D20; }
.header h1
{
	color:#ffff;
	margin-top: 2%;
    margin-left: 3%;
	padding-bottom:0;
	font-family:title;
	font-size: 30px;

    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: titleAnim 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);

}
.header ul li{ list-style: none; }
.header ul{
    margin-top: 3%;
    margin-left: 3%;
}
.header li{
    display: inline;
    margin-right: 16px;
}
.header a{
    color: #fff;
	text-decoration: none;
    text-transform: uppercase;
	font-size: 14pt;

    font-family:zeuty;
}
.header a:hover{color:#F1CA06;}
.translate{
	background-color: rgb(53, 51, 51);
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

	border-radius: 10%;
	font-family:title;

    cursor:pointer;

    float:right;
    margin-top: 98px;
    margin-right: 10px;

    z-index: -1;
    
}
.translate:hover{ color: #F1CA06; }
.translate:focus{
	outline: none;
}
/* CARDS */
.titleProject{ font-family:title; color: whitesmoke;}
p{ color: whitesmoke; }
a:hover img{
    border: solid 5px rgba(0, 0, 0, 0.972);
    border-radius: 15px;
    box-shadow: 0px 0px 120px 30px whitesmoke;
    -webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
/* STLYES AM */
img.AM {  
    border-radius:65%;
	filter: drop-shadow(0px 5px 5px rgb(110, 104, 104));
}
h1.AM{
    font-size: 35px;
	font-family:zeuty;
    /* margin-top: 5%; */
}
.AM p,p.AM{color: #1C1D20;}
#SN img{width: 100px; height: 100px;}
#SN a{ color: transparent;}
#SN a:hover img{
    box-shadow: 0px 0px 40px 10px whitesmoke;
    -webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;

}